---
import yoImagen from "../assets/yo.png";
import ai from "../assets/ai.png";
import ps from "../assets/ps.png";
import ae from "../assets/ae.png";
import fig from "../assets/fig.png";
import behance from "../assets/behance.png";
import linkedin from "../assets/linkedin.png";
import instagram from "../assets/instagram.png";

import "../styles/welcome.css";
---

<div id="container">
  <main>
    <div id="welcome">
      <div class="texto-presentacion">
        <h1 class="miTexto">
          Hola, <br />
          <span class="resaltar">soy Angie!</span>
        </h1>
        <p class="miTexto">
          Soy Licenciada en Tecnología Multimedial y creadora visual de Buenos
          Aires especializada en dar vida a ideas a través del diseño.
        </p>
        <a
          href="https://www.linkedin.com/in/ángeles-verón-553b78255"
        >
          <img
            id="linkedin"
            src={linkedin.src}
            alt="Linked In"
            fetchpriority="high"
            width="35"
          /></a
        >
        <a href="https://www.behance.net/ngelesvern"
          ><img
            id="behance"
            src={behance.src}
            alt="Behance"
            fetchpriority="high"
            width="35"
          /></a
        >
        <a href="https://www.instagram.com/"
          ><img
            id="instagram"
            src={instagram.src}
            alt="Instagram"
            fetchpriority="high"
            width="35"
          /></a
        >
      </div>
      <div class="imagen-con-pensamientos">
        <img
          id="yoImagen"
          src={yoImagen.src}
          alt="Angie"
          fetchpriority="high"
          width="350"
        />

        <img class="app-logo" id="ai" src={ai.src} alt="Adobe Illustrator" />
        <img class="app-logo" id="ps" src={ps.src} alt="Adobe Photoshop" />
        <img class="app-logo" id="ae" src={ae.src} alt="Adobe After Effects" />
        <img class="app-logo" id="fig" src={fig.src} alt="Figma" />
      </div>
    </div>
  </main>

  <div class="marquee-container">
    <div class="marquee-track">
      <span class="marquee-text">
        Contactame &nbsp;&nbsp;-&nbsp;&nbsp; Contactame
        &nbsp;&nbsp;-&nbsp;&nbsp; Contactame &nbsp;&nbsp;-&nbsp;&nbsp;
        Contactame &nbsp;&nbsp;-&nbsp;&nbsp; Contactame
        &nbsp;&nbsp;-&nbsp;&nbsp; Contactame&nbsp;&nbsp;-&nbsp; &nbsp;
        Contactame &nbsp;&nbsp;-&nbsp;&nbsp; Contactame
        &nbsp;&nbsp;-&nbsp;&nbsp;
      </span>
      <span class="marquee-text">
        Contactame &nbsp;&nbsp;-&nbsp;&nbsp; Contactame
        &nbsp;&nbsp;-&nbsp;&nbsp; Contactame &nbsp;&nbsp;-&nbsp;&nbsp;
        Contactame &nbsp;&nbsp;-&nbsp;&nbsp; Contactame
        &nbsp;&nbsp;-&nbsp;&nbsp; Contactame &nbsp; &nbsp; - &nbsp; &nbsp;
        Contactame &nbsp;&nbsp;-&nbsp;&nbsp; Contactame &nbsp;&nbsp; -
        &nbsp;&nbsp;
      </span>
    </div>
  </div>
</div>

<script>
  import gsap from "gsap";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText);

  document.addEventListener("DOMContentLoaded", () => {
    const split = new SplitText(".miTexto", { type: "words, chars" });

    const tl = gsap.timeline();

    tl.from(split.words, {
      y: 50,
      opacity: 0,
      stagger: 0.05,
      duration: 0.5,
      ease: "power2.out",
    });

    tl.from(
      ["#linkedin", "#behance", "#instagram"],
      {
        y: 30,
        opacity: 0,
        duration: 0.6,
        stagger: 0.2,
        ease: "back.out(1.7)",
      },
      "-=0.3"
    );

    const appLogos = document.querySelectorAll(".app-logo");

    if (appLogos.length > 0) {
      appLogos.forEach((logo) => {
        logo.addEventListener("mouseenter", () => {
          gsap.to(logo, {
            x: gsap.utils.random(-8, 8),
            y: gsap.utils.random(-8, 8),
            rotation: gsap.utils.random(-5, 5),
            scale: 1.1,
            opacity: 1,
            duration: 0.3,
            ease: "power2.out",
          });
        });

        logo.addEventListener("mouseleave", () => {
          gsap.to(logo, {
            x: 0,
            y: 0,
            rotation: 0,
            scale: 1,
            opacity: 1,
            duration: 0.3,
            ease: "power2.out",
          });
        });
      });
    }
  });

  gsap.to(".marquee-track", {
    x: "-50%",
    duration: 15,
    ease: "linear",
    repeat: -1,
  });
</script>
